.form__container {
  width: 550px;
  margin: 50px auto;
}

.css-1hb7zxy-IndicatorsContainer{
display: none;
}

#form__main {
  background-color: #d5f7db;
  padding: 5px 40px 25px;
  max-height: 100%;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.form__header{
  text-align: center;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 15px;
}

.select__title {
  margin-right: 8px;
}
.select__title1 {
  margin-right: 34px;
}
.select__title2{
  margin-right: 40px;
}

.form__inputs select {
  border: none;
  outline: none;
  margin-bottom: 10px;
  height: 30px;
}

.form__inputs select:hover {
  cursor: pointer;
}

.form__inputs input {
  height: 25px;
  padding: 0 7px;
  border: none;
  outline: 1px solid rgb(124, 192, 186);
}

.form__inputs input {
  cursor: pointer;
}

.input__suggestions {
  border-right: 1px solid rgb(124, 192, 186);
  border-left: 1px solid rgb(124, 192, 186);
  border-bottom: 0px solid rgb(124, 192, 186);
  border-top: 1px solid rgb(124, 192, 186);
  height: 25px;
  padding: 0 7px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.input__suggestions:hover {
  background-color: rgb(124, 192, 186);
}

.form__btn {
  text-decoration: none;
  color: #fff;
  background-color: #30b0a3;
  text-align: center;
  letter-spacing: .5px;
  transition: background-color .2s ease-out;
  font-size: 14px;
  outline: 0;
  border: none;
  border-radius: 9px;
  display: inline-block;
  height: 40px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
  margin: 15px auto;
  width: 250px
}

.form__btn:hover {
  background-color: #45c7ba;
} 